<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project! </title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .layout {
            width: 960px;
            margin: auto;
        }

        .form_layout {
            width: 800px;
            margin: auto;
        }
    </style>

    <!-- Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>



</head>

<body>
    <div class="layout jumbotron" style="grid-auto-row">
        <form class="form_layout">
            <div class="form-group1">
                <label for="formGroupExampleInput">1. Project Name</label>
                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Select</button>
                    </div>
                </div>
            </div>
            <div class="form-group2" style="margin-top:50px">
                <label for="formGroupExampleInput2">2. Project Period</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="PJT 시작일">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="PJT 종료일">
                    </div>
                </div>
            </div>
            <div class="form-group3" style="margin-top:50px">
                <label for="formGroupExampleInput2">3. Detailed Work</label>
                <div>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">주요업무</th>
                                <th scope="col">세부업무</th>
                                <th scope="col">기한</th>
                                <th scope="col">담당자</th>
                                <th scope="col">현황</th>
                                <th scope="col">File</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>
                                    <select class="custom-select" id="inputGroupSelect01">
                                        <option value="1">진행중</option>
                                        <option value="2">완료</option>
                                        <option value="3">예정</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                          <label class="custom-file-label" for="inputGroupFile04">File</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group4" style="margin-top:50px">
                <label for="formGroupExampleInput2">4. Memo</label>
                <div>
                    <div class="input-group is-invalid">
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group5 text-center" style="margin-top:80px">
                <button type="button" class="btn btn-info" style="width: 80px;">Next</button>
                <button type="button" class="btn btn-info" style="width: 80px; margin-left:20px;">Save</button>
            </div>
        </form>
    </div>


</body>

</html>